@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-binance-dark text-slate-100;
  font-feature-settings: "ss01";
}

.green {
  background: #16a34a;
}

.red {
  background: #dc2626;
}

.yellow {
  background: #ca8a04;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0e11;
}

::-webkit-scrollbar-thumb {
  background: #1f2630;
  border-radius: 8px;
}
