version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"

    # ✅ SINGLE SOURCE OF TRUTH
    # Everything comes from .env only
    env_file:
      - .env

    volumes:
      - ./data:/app/data

    restart: unless-stopped


  dashboard:
    build: ./dashboard
    ports:
      - "80:3000"

    depends_on:
      - api

    env_file:
      - .env

    restart: unless-stopped
